*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#eef4ff,#f8fafc);
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding:30px 0;
}

.container{
    width:900px;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
    text-align:center;
    position:relative;
}

h1{
    color:#000000;
    margin-bottom:10px;
}

h2{
    color:#333;
    margin:20px 0;
}

.placar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top:30px;
}

.jogador{
    width:260px;
    padding:30px;
    background:#fff;
    border:none;
    border-radius:18px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.jogador:hover{
    transform:translateY(-5px);
}

.jogador h3{
    font-size:22px;
    margin-bottom:20px;
}

.pontos{
    font-size:85px;
    font-weight:700;
    color:#2563eb;
}

.versus{
    font-size:30px;
    font-weight:bold;
    color:#000000;
}

.sets{
    margin-top:35px;
    padding:20px;
    border-top:1px solid #ddd;
    color:#084298;
}

.placar-set{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
}

.placar-set strong{
    font-size:40px;
    color:#198754;
}

.tabela-marcacao{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:80px;
    margin-top:25px;
}

.coluna-jogador{
    width:320px;
    padding:25px;
    border:2px solid #ddd;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.coluna-jogador:first-child{
    border-top:5px solid #0b5ed7;
}

.coluna-jogador:last-child{
    border-top:5px solid #dc3545;
}

.coluna-jogador h3{
    font-size:22px;
    margin-bottom:20px;
}

.grupos-botoes{
    display:flex;
    justify-content:center;
    gap:20px;
    width:100%;
}

.grupo{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:120px;
}

.coluna-jogador h4{
    width:100%;
    margin:10px 0;
    padding:8px;
    border-radius:6px;
    background:#198754;
    color:white;
    font-size:14px;
}

.coluna-jogador .titulo-erro{
    background:#dc3545;
    margin-top:10px;
}

.btn-marcacao{
    width:120px;
    height:42px;
    margin:6px 0;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    transition:.25s;
}

.btn-marcacao:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
    box-shadow:0 6px 15px rgba(37,99,235,.3);
}

.btn-erro{
    background:#ef4444;
}

.btn-erro:hover{
    background:#dc2626;
}

.botoes-corrigir{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:20px;
    margin-left:-10px; 
}

.btn-corrigir{
    width:220px;
    height:50px;
    border:none;
    border-radius:12px;
    background:#475569;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.25s;
}

.btn-corrigir:hover{
    background:#334155;
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(0,0,0,.2);
}

.btn-voltar{
    position:absolute;
    top:25px;
    left:25px;
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px 18px;
    background:#fff;
    color:#1d222a;
    border:2px solid #000000;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    font-size:15px;
    transition:.25s;
}

.btn-voltar:hover{
    background:#32363c;
    color:white;
    transform:translateX(-4px);
    box-shadow:0 8px 18px rgba(11,94,215,.25);
}

.popup-overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.7);
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.popup{
    background:white;
    padding:40px;
    border-radius:15px;
    text-align:center;
    width:400px;
    box-shadow:0 0 20px rgba(0,0,0,.4);
    animation:aparecer .4s ease;
}

.trofeu{
    font-size:70px;
    margin-bottom:10px;
}

.popup h2{
    color:#198754;
    margin-bottom:15px;
}

.popup p{
    font-size:20px;
    margin-bottom:25px;
}

.btn-fechar{
    padding:12px 30px;
    border:none;
    border-radius:8px;
    background:#0b5ed7;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.btn-fechar:hover{
    background:#084298;
}

@keyframes aparecer{
    from{
        transform:scale(.5);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }
}

.btn-historico{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#0d6efd;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn-historico:hover{
    background:#0b5ed7;
}