<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastro de Jogadores</title>
</head>

<body>

<div class="container">

    <h1>TT Performance</h1>
    <h2>Cadastro de Jogadores</h2>

    <form action="/cadastrar" method="POST">

        <input type="text" name="nome" placeholder="Nome do jogador" required>

        <input type="number" name="idade" placeholder="Idade" required>

        <input type="text" name="categoria" placeholder="Categoria" required>

        <input type="text" name="clube" placeholder="Clube" required>

        <button type="submit">Cadastrar</button>

    </form>

    <br>

    <a href="/partida">
        <button class="partida">Ir para Partidas</button>
    </a>

    <hr>

    <h2>Jogadores Cadastrados</h2>

    <table>

        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Categoria</th>
            <th>Clube</th>
            <th>Ações</th>
        </tr>

        {% for jogador in jogadores %}

        <tr>

            <td>{{ jogador.id }}</td>
            <td>{{ jogador.nome }}</td>
            <td>{{ jogador.idade }}</td>
            <td>{{ jogador.categoria }}</td>
            <td>{{ jogador.clube }}</td>

            <td>
                <a href="/excluir_jogador/{{ jogador.id }}">
                    <button class="excluir">Excluir</button>
                </a>
            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>