<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CADASTRAR</title>
</head>
<body>
    <h1>Cadastro de Jogador</h1>
        <form action="/cadastrar" method="POST"> 

             
                <input type="nome" placeholder="Nome do Jogador" required>  
            
             <br><br>
            
                <input type="idade" placeholder="Idade do jogador" required>
            
             <br><br>
           
                <input type="categoria" placeholder="Categoria" required>
          
          
                <input type="nome" placeholder="Nome do clube" required>
           
             <br><br>
           
                <button type="submit">CADASTRAR</button>
           
            
        </form>
    </body>
</html>