<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='iniciar_partida.css') }}">

    <title>Iniciar Partida</title>

</head>

<body>

    <div class="container">

        <h1> TT Performance</h1>

        <h2>🏓 Partida em Andamento</h2>

        <div class="placar">

            <div class="jogador">

                <h3>{{partida.nome}}</h3>

                <div class="pontos" id="pontosJogador">
                    0
                </div>

            </div>


            <div class="versus">

                <span>VS</span>

            </div>


            <div class="jogador">

                <h3>{{partida.adversario}}</h3>

                <div class="pontos" id="pontosAdversario">
                    0
                </div>

            </div>

        </div>


        <div class="sets">

            <h2>Sets</h2>

            <div class="placar-set">

                <div>

                    <h3>{{partida.nome}}</h3>

                    <strong>0</strong>

                </div>


                <div class="versus">

                    ×

                </div>


                <div>

                    <h3>{{partida.adversario}}</h3>

                    <strong>0</strong>

                </div>

            </div>

        </div>


        <div class="acoes">

            <button class="btn-ponto" onclick="adicionarPontoJogador()">
                + Ponto Jogador {{partida.nome}}
            </button>

            <button class="btn-ponto adversario" onclick="adicionarPontoAdversario()">
                + Ponto Adversário {{partida.adversario}}
            </button>

        </div>
         <!-- REGISTRO DO PONTO -->

        <div class="registro-ponto">

            <h2>Registrar ponto</h2>


            <label>

                Quem ganhou o ponto?

            </label>


            <select id="ganhador">

                <option value="jogador">

                    {{ partida.nome }}

                </option>

                <option value="adversario">

                    {{ partida.adversario }}

                </option>

            </select>


            <label>

                Como foi o ponto?

            </label>


            <select id="tecnica">

                <option value="saque">

                    Saque

                </option>

                <option value="forehand">

                    Forehand

                </option>

                <option value="backhand">

                    Backhand

                </option>

                <option value="bloqueio">

                    Bloqueio

                </option>

                <option value="smash">

                    Smash

                </option>

                <option value="rally">

                    Rally

                </option>

            </select>


            <label>

                O adversário errou?

            </label>


            <select id="erro">

                <option value="nenhum">

                    Não

                </option>

                <option value="saque">

                    Errou o saque

                </option>

                <option value="fora">

                    Bola fora

                </option>

                <option value="rede">

                    Bola na rede

                </option>

                <option value="erro_tecnico">

                    Erro técnico

                </option>

                <option value="outro">

                    Outro erro

                </option>

            </select>


            <label>

                Observação

            </label>


            <textarea
                id="observacao"
                placeholder="Descreva como foi o ponto..."
            ></textarea>


            <button
                onclick="registrarPonto()"
                class="btn-registrar"
            >

                + Registrar Ponto

            </button>

        </div>


        <!-- HISTÓRICO -->

        <div class="historico">

            <h2>Histórico da partida</h2>

            <div id="listaJogadas"></div>

        </div>


        <a href="/partida" class="btn-voltar">

            ← Voltar para Partidas

        </a>

        <!-- MENSAGEM DA VITÓRIA -->
        <div id="popupVitoria" class="popup-overlay">
    
        <div class="popup">
    
            <div class="trofeu">
                🏆
            </div>
    
            <h2>Partida Encerrada!</h2>
    
            <p id="mensagemVitoria"></p>
    
            <button
                onclick="fecharPopup()"
                class="btn-fechar"
            >
                Fechar
            </button>
    
        </div>
    </div>

    <script src="{{ url_for('static', filename='iniciar_partida.js') }}"></script>
</body>

</html>