<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='partida.css') }}">
    <title>TT Performance - Cadastro de Partidas</title>
</head>

    <body>

        <div class="container">

            <h1>🏓 TT Performance</h1>
                <h2>Cadastro de Partidas</h2>
            <p class="descricao">
            Preencha os dados abaixo para iniciar uma nova partida.
            </p>
                <form action="/salvar_partida" method="POST">

                    <input type="text" name="nome" placeholder="Seu nome" required>

                    <input type="text" name="clube" placeholder="Seu clube" required>

                    <input type="text" name="adversario" placeholder="Nome do adversário" required>

                    <input type="date" name="data_partida" required>

                    <label for="melhor_de">Melhor de quantos sets?</label>
                    <select name="melhor_de" id="melhor_de" required>
                        <option value="3">Melhor de 3</option>
                        <option value="5">Melhor de 5</option>
                        <option value="7">Melhor de 7</option>
                    </select>

                <button type="submit">Cadastrar Partida</button>

            </form>

        <hr>

        <h2>Partidas Cadastradas</h2>

            <table border="1">

                <tr>
                    <th>ID</th>
                    <th>Jogador</th>
                    <th>Clube</th>
                    <th>Adversário</th>
                    <th>Data</th>
                    <th>Ação</th>
                </tr>

            {% for partida in partidas %}

            <tr>

                <td>{{ partida.id }}</td>
                <td>{{ partida.nome_jogador }}</td>
                <td>{{ partida.clube_jogador }}</td>
                <td>{{ partida.nome_adversario }}</td>
                <td>{{ partida.data_partida }}</td>

                <td>
                <a href="/iniciar_partida/{{ partida.id }}" class="btn-iniciar">
                ⚡ Iniciar Partida
                </a>
                </td>

            </tr>

            {% endfor %}

            </table>

        </div>

    </body>
</html>