<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='partida.css') }}">

    <title>Cadastro de Partidas</title>
</head>

<body>

<div class="container">

    <h1>TT Performance</h1>
    <h2>Cadastro de Partidas</h2>

    <a href="/" class="btn-voltar">
        ← Voltar para Jogadores
    </a>


    <form action="/salvar_partida" method="POST">

        <select name="jogador_id" required>

            <option value="">Selecione um jogador</option>

            {% for jogador in jogadores %}
                <option value="{{ jogador.id }}">
                    {{ jogador.nome }}
                </option>
            {% endfor %}

        </select>

        <input
            type="text"
            name="adversario"
            placeholder="Nome do adversário"
            required
        >

        <input
            type="date"
            name="data_partida"
            required
        >

        <button type="submit">Cadastrar Partida</button>

    </form>

    <br>

    <a href="/">
        <button class="partida">Voltar para Jogadores</button>
    </a>

    <hr>

    <h2>Partidas Cadastradas</h2>

    <table>

        <tr>
            <th>ID</th>
            <th>Jogador</th>
            <th>Adversário</th>
            <th>Data</th>
        </tr>

        {% for partida in partidas %}

        <tr>

            <td>{{ partida.id }}</td>
            <td>{{ partida.nome }}</td>
            <td>{{ partida.adversario }}</td>
            <td>{{ partida.data_partida }}</td>

        </tr>

        {% endfor %}

    </table>
    <a href="/iniciar_partida" class="btn-iniciar">
    ⚡ Iniciar Partida
    </a>
</div>

</body>
</html>